<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Resting App</small>
        </h1>
      </div>
      <div class="list-group-item list-group-item-home media">
        
         <div ng-if="quiz.actif === undefined || quiz.actif == false">
	        <div class="media-body">
	            <p>L’objectif de ce questionnaire est d’identifier de quoi étaient faites vos pensées durant les 15 dernières minutes de l’examen 
	            <strong>et seulement celles-ci</strong>, juste après que les consignes de fermer les yeux et de laisser aller vos pensées sans 
	            vous endormir vous ont été données.</p>

				<p>Ce n’est pas le contenu mais la forme de ces pensées que le questionnaire cherche à identifier. 
				Ces pensées étaient elles faites d’images ? , de phrases ? Faisaient-elles référence à des événements passés, futurs…? Etc…</p>

				<p>Il n’y a pas de bonnes ou de mauvaises réponses. Ces réponses ne révèlent aucun trait de caractères ou de personnalité. </p>

				<p>Répondez le plus sincèrement possible.</p>

				<p>Il n’est pas possible de revenir en arrière pour modifier une réponse. </p>


				<p><strong>Cet exercice ne porte que sur les 15 mn durant lesquels vous étiez allongé les yeux fermés</strong></p>
	            
	            <button class="btn btn-primary" ng-click="startQuiz($event)">Commencer</button>
	        </div>
        </div>
       
        <div ng-if="quiz.actif == true">
	       <groupe ng-repeat="groupe in quiz.groupes" data="groupe">
			  <!-- Include template dyn -->	
			</groupe>
			<button class="btn btn-primary" ng-click="nextQuiz($event)">Suivant</button>
	 	</div>
	 	
	 	 <div ng-if="quiz.actif == 'getID'">

	 	 	<groupe ng-repeat="groupe in quiz.groupes" data="groupe">
			  <!-- Include template dyn -->	
			</groupe>
		 	<br/>
		 	  <button class="btn btn-primary" ng-click="goToStartQuiz($event)">Lancer le questionnaire</button>
		 	  <hr/>
		 	  <button class="btn btn-default" ng-click="sendQuiz($event)">Envoyer les résultats</button>
	 	 </div>
	 	<div ng-if="quiz.actif == 'fin'">

	       Fin
			<button class="btn btn-primary" ng-click="finQuiz($event)">Fin</button>
	 	</div>
        
      </div>
    </div>

  </div>
</div>
