<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Resting App</small>
        </h1>
      </div>
      <div class="list-group-item list-group-item-home media">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
         <div ng-if="quiz.actif === undefined || quiz.actif == false">
	        <div class="media-body">
	            <h3 class="media-heading">Start Quiz</h3>
	            <button class="btn btn-primary" ng-click="startQuiz($event)">Start</button>
	        </div>
        </div>
       
        <div ng-if="quiz.actif == true">
	         GROUPE
	       <groupe ng-repeat="groupe in quiz.groupes" data="groupe">
			  <!-- Include template dyn -->	
			  toto
			</groupe>
	 	</div>
        
      </div>
    </div>

  </div>
</div>
